<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="https://unpkg.com/vue@3.5.17/dist/vue.global.js"></script>
	<link rel="stylesheet" href="css/layout.css">
	<link rel="stylesheet" href="css/color.css">
	<link rel="stylesheet" href="css/anime.css">
	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/clone.js"></script>
	<script type="text/javascript" src="js/URLParam.cls.js"></script>
	<script type="text/javascript" src="js/vue/GameInitializer.cls.js"></script>
	<script type="text/javascript" src="js/vue/GameMaster.cls.js"></script>
</head>
<body>
	<label class="playguide" for="playguide">遊び方</label>
	<input type="checkbox" id="playguide" class="slidearea"/>
	<div class="playguide slidearea">
		<pre>
＜概要＞
・螺旋の前後半の構成を当てる遊び。順不同。
・それ以外はヒット&ブローと同じ。
・通信対戦装置ではないため、テキストをやり取りできる環境が別途必要。

＜使い方＞
1.基本設定
・[設定]にチェックを入れる。

・[モード]を選択する。
Webページの性質上、各プレイヤーごとに、同じWebページを2ページ、攻撃用と防御用で用意する必要がある。

●防御モードの場合
・[デッキ内容]に、8キャラ以上の編成を改行区切りで入力する。9キャラ目以降のキャラ数はゲーム性に影響するため任意。ないと思うが、,(カンマ)は使用しない。
・[自分の編成]で、前後半の編成キャラを選択する。
★対戦相手に記載した[デッキ内容]をコピーして渡す。
・[生成]ボタンを押す。
・(補足)[自分の編成]のキャラはドラッグで入れ替え可能。

●攻撃モードの場合
・[デッキ内容]に、相手から貰ったデッキ内容(防御モードの手順★)を貼り付ける。(改行区切りであることを確認する)
・[生成]ボタンを押す。

2.プレイ方法
●攻撃モードの場合
・[自分が提案したい内容]を、キャラの重複がないように全て埋めて、[確定]ボタンを押す。重複がある場合は赤くなる。
★[確定]を押した段階で、クリップボードにテキストが入るため、それを相手に渡す。何らかの理由でクリップボードを消してしまった場合は、[履歴]の[コピー]で再取得可能。
・相手から、なんH、なんBだったかを聞き、[履歴]の[H]欄、[B]欄にそれぞれ記入する。(システム補助のためであり、ゲーム上必須ではない)
・[H]と[B]の欄が赤くならないように、[自分が提案したい内容]を調整する。
・これを繰り返す。
・(補足)[自分が提案したい内容]のキャラはドラッグで入れ替え可能。

●防御モードの場合
・相手が提案してきた内容(攻撃モードの手順★)を、[相手が提案してきた内容]欄に貼り付け、[確定]を押す。
・[確定]を押した段階で、クリップボードにテキストが入るため、それを相手に渡す。
・これを繰り返す。

		</pre>
	</div>
	<div id="gameinitializer">
		<label class="inputarea" for="inputarea">設定</label>
		<input type="checkbox" id="inputarea" class="slidearea"/>
		<div class="inputarea slidearea">
			<div>
				<label>モード</label>
				<label v-for="mode in modelist">
					<input type="radio" v-model="動作モード" :value="mode">{{mode}}
				</label>
			</div>

			<div>
				<label>デッキ内容</label>
				<textarea v-model.trim="デッキテキスト" placeholder=""></textarea>
			</div>

			<div v-if="防御">
				<label>自分の編成</label>
				<div>
					<table>
						<tr v-show="答え.length > 0"><th colspan=4>前半</th><th colspan=4>後半</th></tr>
						<tr>
							<td draggable="true" v-for="(char,idx) in 答え" @dragstart="入れ替え開始($event, '答え',idx)" ondragenter="return false" ondragover="return false" @drop="入れ替え終了($event, '答え',idx)">
								<select v-model="答え[idx]" class="キャラ" :class="{duplicate:duplicate(char)}">
									<option v-for="キャラ in デッキ配列" :value="キャラ">{{キャラ}}</option>
								</select>
							</td>		
						</tr>
					</table>
				</div>
			</div>
		</div>

		<button class="outputbutton" @click="generateUrl">生成</button>
	</div>
	<div id="gamemaster">
		<div v-if="攻撃">
			<label>自分が提案したい内容</label>
			<table>
				<tr v-show="攻撃提案.length > 0"><th colspan=4>前半</th><th colspan=4>後半</th></tr>
				<tr>
					<td draggable="true" v-for="(char,idx) in 攻撃提案" @dragstart="入れ替え開始($event, '攻撃提案',idx)" ondragenter="return false" ondragover="return false" @drop="入れ替え終了($event, '攻撃提案',idx)">
						<select v-model="攻撃提案[idx]" class="キャラ" :class="{duplicate:duplicate(char)}">
							<option v-for="キャラ in デッキ配列" :value="キャラ">{{キャラ}}</option>
						</select>
					</td>		
				</tr>
			</table>
			<br>
			<button @click="攻撃確定" :disabled="duplicate()||notfill">確定</button>
		</div>
		<div v-if="防御">
			<label>相手が提案してきた内容</label>
			<textarea v-model.trim="防御提案" @focus="(e)=>{e.target.select();}"></textarea>
			<button @click="防御確定">確定</button>
		</div>

		<hr>
		<table>
			<label>履歴</label>
			<tr v-show="履歴.length > 0"><th colspan=4>前半</th><th colspan=4>後半</th><th>H</th><th>B</th></tr>
			<tr v-for="(履歴レコード,idx) in 履歴">
				<td v-for="(キャラ,idx) in 履歴レコード.キャラ" class="キャラ" :class="{ヒット:ヒット(キャラ,idx),ブロー:ブロー(キャラ,idx)}">{{キャラ}}</td>
				<td><input type="number" :class="{不一致:カウント不一致(idx,'H')}" min=0 max=8 v-model="履歴レコード.H" :disabled="防御"></td>
				<td><input type="number" :class="{不一致:カウント不一致(idx,'B')}" min=0 max=8 v-model="履歴レコード.B" :disabled="防御"></td>
				<td v-if="攻撃"><button @click="反映(idx)">反映</button></td>
				<td v-if="攻撃"><button @click="攻撃コピー(idx)">コピー</button></td>
				<td v-if="防御"><button @click="防御コピー(idx)">コピー</button></td>
				<td><button @click="削除(idx)">削除</button></td>
			</tr>
		</table> 
	</div>
	<pre id="copyarea"></pre>
</body>
</html>