table
{
	border-collapse: collapse; /* 枠線(ボーダー)を重ねて表示 */
}

table td,th
{
	border: solid;
}

div.slidearea
{
	overflow:hidden;
}

.キャラ
{
	width:100px;
}

select
{
	margin: 40px 0px 0px 0px;
}
